# 
# snippet v "kabommmmmm"
# 	${1} := ${2}
#
snippet del "comment FIX: TO DELETE"
	// FIX: DELETE LATER

snippet fix "comment FIX:"
	// FIX: ${1}

snippet todo "comment todo"
	// TODO: ${1}

snippet note "comment note"
	// NOTE: ${1}

snippet lo "go log but delete later"
  log.Println(${1}) // FIX: DELETE LATER

snippet log "go log.Prinlt"
  log.Println(${1})
