snippet fix "comment FIX:"
	# FIX: ${1}

snippet todo "comment todo"
	# TODO: ${1}

snippet note "comment note"
	# NOTE: ${1}

snippet GET "get http"
	GET https://${1}

# TODO: add for other method with postform and other

